:root{
  --background: #6a6af0;
}
.container{
  max-width: 400px;
  margin: auto;
  width: 100%;
  padding: 10px;
  font-family: Helvetica;
}
.title{
  text-align: center;
}
.button{
  text-align: center;
  margin-bottom: 20px;
}
.button a.button {
    display: inline-block;
    padding: 12px 30px;
    margin-right: 14px;
    font-size: 15px;
  text-decoration: none;
    font-weight: bold;
    line-height: 25px;
    color: #303030;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: -o-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 );
    border-top: solid 1px #cbcbcb;
    border-right: solid 1px #b7b7b7;
    border-bottom: solid 1px #b3b3b3;
    border-left: solid 1px #b7b7b7;
    border-radius: 30px;
    -webkit-box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    box-shadow: 0px 1px 5px #e8e8e8;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    transition: 0.2s linear;
}
#home span {
    background: transparent url(https://avatars0.githubusercontent.com/u/9951055) 1px 50% no-repeat;
  background-size: 20px;
}
#view-on-github span {
    background: transparent url(https://phe0nix.github.io/assets/images/octocat-icon.png) 0 50% no-repeat;
}
a.button span {
    display: block;
    height: 23px;
    padding-left: 35px;
}
.inputFields {
  display: flex;
}
input{
  width: calc(100% - 20%);
  height: 40px;
  box-sizing: border-box;
  padding: 5px 15px;
  font-size: 18px;
  margin-bottom: 10px;
}
input.multiNumber {
  width: 20%;
  padding: 5px 10px;
}
.head{
  background: var(--background);
  padding: 10px;
  color: white;
  line-height: 25px;
  font-size: 18px;
}
.value{
  padding: 0 10px;
  margin-top: 0px;
  border-right: 1px solid var(--background);
  border-left: 1px solid var(--background);
  margin-bottom: 0;
  padding: 6px 10px;
  font-size: 18px;
}
.value:last-child{
  border-bottom: 1px solid var(--background);
}
.value span{
  margin: 4px;
}

@media screen and (max-width: 400px){
  body{
    overflow-x: hidden;
  }
  .button a.button{
    display: inline-block;
    padding: 5px 14px;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    line-height: 25px;
    color: #303030;
    transition: 0.2s linear;
  }
  .button a.button:not(:last-child){
    margin-right: 6px;
  }
  input, .result{
    width: 94%;
  }
  .head, .value{
    font-size: 15px;
  }
  ::-webkit-input-placeholder {
    font-size: 14px;
  }
  ::-moz-placeholder {
    font-size: 14px;
  }
  :-moz-placeholder {
    font-size: 14px;
  }
  :-ms-input-placeholder {
    font-size: 14px;
  }
}
